<div class="container">
  <h1>Hacker News Stories</h1>

  <!-- Search Bar -->
  <div class="search-bar">
    <input [(ngModel)]="searchQuery" placeholder="Search...">
    <button (click)="onSearch()">Search</button>
  </div>

  <!-- List of Stories -->
  <div *ngIf="news.length > 0; else noResults">
    <div class="story" *ngFor="let story of news">
      <a [href]="story.url" target="_blank">{{ story.title }}</a>
    </div>
  </div>
  <ng-template #noResults>
    <p>No results found.</p>
  </ng-template>

  <!-- Pagination -->
  <div class="pagination-bar">
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1 || searchQuery.trim() !== ''">Previous</button>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages || searchQuery.trim() !== ''">Next</button>
  </div>
</div>
